/* font set up */

.fira-sans{
    font-family: "Fira Sans", serif;
    
    font-style: normal;
  }
/* main body color */
  .b{
    background-color: #F5F5F5;
}


/* nav section */
/* nav section */


.nav-section{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 100px;
    margin: 0 auto;

}

.nav-paragraph{
font-size: 32px;
font-weight: bold;
width: 222px;
height: 38px;
color: #0E0E0E;
}

.nav-button{
    border: 2px solid #006A50;
    border-radius: 8px;
    color: #006A50;
    font-size: 18px;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
    width: 170px;
    height: 60px;
    margin-top: 28px;
   
}



/* banner section */
/* banner section */
#banner{
    background-color: #C6E4D6;
    width: 1280px;
    height: 560px;
    display: flex;
    gap: 64px;
    margin: 80px auto;
    border-radius: 24px;
    margin-top: 20px;
}

.banner-left{
    padding-left: 59.99px;
    padding-top: 117px;
    padding-bottom: 117px;
}

.banner-paragraph{
   font-size: 24px;
   font-weight: 500;
   color:#0e0e0e81;
   width: 622px;
   height: 29px;
   line-height: auto;
   margin-bottom: 0px;
   margin-top: 0px;
  
}

.banner-head{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    width: 622px;
    height: 201px;
    margin-bottom: 0px;
    margin-top: 16px;

}

.banner-explore-button{
    width: 270px;
    height: 56px;
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 17px 34px;
    margin-top: 24px;
    border: none;

}

.banner-right-image{
    padding-top: 80px;
    padding-right: 59.99px;
    padding-bottom: 80px;
}


/* pillar section */
/* pillar section */

.pillar-section{
    width: 1280px;
    margin: 0 auto;
}
.pillar-head{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0px;
}

.pillar-div{
    display: flex;
    gap: 24px;
}
.pillar{
    background-color: white;
    border-radius: 16px;
    padding: 24px;
    width: 400px;
    height: auto;
    margin-top: 32px;
    margin-bottom: 0px;
}

.ph{
    font-size: 20px;
    font-weight: bold;
    color: #0e0e0ed1;
}

.pp{
    font-size: 16px;
    color:#0e0e0ea7 ;
   
}



/* vision of future section */
/* vision of future section */

.vision-of-future{
    width: 1280px;
    height: 765px;
    margin: 80px auto;
    margin-bottom: 0px;
}


.vision-head{
    color: #0E0E0E;
    font-size: 40px;
    font-weight: bold;
    width: 1280px;
    height: 48px;
    margin-bottom: 0px;
}

.vision-paragraph{
    color: #0e0e0ec0;
    font-size: 16px;
    width: 1280px;
    height: 48px;
    margin-top: 24px;
    margin-bottom:0px ;
}

.vision-main-div{
    display: flex;
    width: 1280px;
    height: 325px;
    gap: 24px;
    margin-top: 32px;
    margin-bottom: 0px;
}

.vision-div-1{
    background-color: #548ff53a;
    border-radius: 16px;
    padding: 32px;
   
}

.vision-image{
    margin-bottom: 0px;
}


.vision-head-next{
    font-size: 20px;
    font-weight: bold;
    color: #0e0e0ece;
    line-height: auto;
    margin-bottom: 0px;
    margin-top: 24px;
}

.vision-paragraph-next{
    font-size: 16px;
    font-weight:400;
    color: #0e0e0eaa;
    line-height: auto;
    margin-top: 12px;
    margin-bottom: 0px;

}

.btn-1{
    margin-top: 24px;
    margin-bottom: 32px;
    background-color: #5490F5;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    width: 122px;
    height: 41px;
    border: none;
}




.vision-div-2{
    background-color: #C6E4D6;
    border-radius: 16px;
    padding: 32px;
}

.btn-2{

    margin-top: 24px;
    margin-bottom: 32px;
    background-color: #09A15C;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    width: 122px;
    height: 41px;
    border: none;

}

.vision-div-3{
    background-color: #F7EBCF;
    border-radius: 16px;
    padding: 32px;
}

.btn-3{

    margin-top: 24px;
    margin-bottom: 32px;
    background-color: #FFC239;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    width: 122px;
    height: 41px;
    border: none;

}

.div-challenge-1{
    height: 210px;
    padding: 24px 24px;
    background-color: white;
    border-radius: 16px;
    margin: 32px auto;
  
   
  
}

#quote-back{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: left top;
    width: 1232px;
    height: 160px;
  
}



.challenge-paragraph-1{
    font-size: 16px;
    color: #0e0e0ec3;
    width: 1232px;
    height: 96px;
    margin-bottom: 0px;
    padding-top: 25px;
}

.challenge-head-1{
    font-size: 20px;
    font-weight: 600;
    color: #0e0e0ec3;
    width: 1232px;
    height: 24px;
    margin-bottom: 0px;
    margin-top: 5px;

}


.challenge-paragraph-2{
    color: #0e0e0e95;
    font-size: 16px;
    margin-top: 0px;
   
}

/* opinion section */
/* opinion section */

.opinion{
    width: 1280px;
    height: 481px;
    margin: 80px auto;
}

.opinion-head{
    font-size: 40px;
    font-weight: bold;
}




.table-div{
    display: flex;
    background-color: white;
    padding: 32px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
   
    
   
}

tr,th,td,table{
    border: 1px solid #0E0E0E;
    border-collapse: collapse;
    width: 1216px;
    text-align: left;
    padding-left: 25px;
    padding: 20px;

    
}

table{
   padding-left: 32px;
   width: 1216px;
   height: 345px;
   margin: 0px;
   
}


th{
    font-size: 20px;
    font-weight: 500;
    color: #0E0E0E;
    border: none;
}
td{
    font-size: 16px;
    font-weight: 500;
    color: #0E0E0E;

}

.head-row{
    width: 1216px;
    height: 72px;
    background-color: #C6E4D6;
    margin: 0px;
}
.data-row{
    width: 1216px;
    height: 92px;
    margin: 0px;
}




/* recent news section */
/* recent news section */

.recent-news{
    width: 1280px;
   
    margin: 80px auto;
}


.recent-news-head{
    color: #0E0E0E;
    font-size: 40px;
    font-weight: bold;
    width: 1280px;
    height: 48px;
    margin-bottom: 0px;
    margin-top: 80px;

}

.recent-news-paragraph{
    color: #0e0e0ec0;
    font-size: 16px;
    width: 1280px;
    height: 48px;
    margin-top: 24px;
    margin-bottom:0px ;

}

.recent-div{
    display: flex;
    gap: 32px;
    background-color: white;
    border-radius: 16px;
    margin-top: 32px;
}

.recent-image{
    padding-left: 48px;
    padding-top: 48px;
    padding-bottom: 48px;
    width: 408px;
    height: 280px;
   
}

.recent-description{
    padding-top: 56px;
    padding-right: 48px;
    width: 744px;
    height: 290px;
}

.recent-head{
    font-size: 32px;
    font-weight:bold ;
    color: #0e0e0ec8;
    width: 744px;
    height: 38px;
    line-height: auto;
    margin: 0px;
}

.aljazeera{
    width: 134px;
    height: 40px;
}

.recent-p1{
    font-size: 16px;
    font-weight: 400;
    width: 744px;
    height: 24px;
    margin: 0px;

}

.recent-p2{
    font-size: 16px;
    font-weight: 400;
    width: 744px;
    height: 72px;
    line-height: 24px;
    margin: 0px;
}


.recent-btn{

    margin-top: 32px;
    background-color: #006A50;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    width: 122px;
    height: 41px;
    border: none;

}


/* donation section */
/* donation section */

.donation{
    width: 1280px;
    height: 464px;
    margin: 80px auto;
}


.donate-head{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    text-align: center;
}

.donate-paragraph{
    font-size: 16px;
    color: #0e0e0e90;
    text-align: center;
}

.donate-div{
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

.donate-tk{
    border: 1px solid #0e0e0e25;
    border-radius: 18px;
    width: 240px;
    height: 128px;
    font-size: 40px;
    font-weight: bold;
    color: #0e0e0ec7;
    background-color: white;
    text-align: center;
}

#input{
    width: 1032px;
    height: 64px;
    text-align: center;
    font-size: 20px;
    color: #0e0e0e4f;
   margin-top: 32px;
   margin-left: 124px;
   margin-right: 124px;
   
}

.donate-btn{

    margin-top: 32px;
    margin-left: 580px;
    background-color: #006A50;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    width: 122px;
    height: 41px;
    border: none;

}




/* newsletter section */
/* newsletter section */
#Newsletter{
    background-color:#C6E4D6;
    border-radius: 24px;
    width: 1280px;
    height: 395px;
    margin:100px auto ;
   
}

.s-n{
    font-size: 40px;
    font-weight: 800;
    margin: 0px;
    margin-top: 15px;
    text-align: center;
    padding-top: 80px;
    color: #0E0E0E;
}
.s-n-description{
    font-size: 16px;
    color:#0e0e0e43;
    width: 622px;
    height: 48px;
    line-height: 24px;
}
#xx{
    display: flex;
    gap: 0px;
}

#inp{
    width: 500px;
    height: 50px;
    border-radius: 10px 0px 0px 10px;
    font-size: 25px;
    padding: 15px;
    padding-left: 20px;
    margin-left: 300px;
    margin-right: 0px;
    background-color: white;
    border: none;
}

#sub-btn{
    width: 200px;
    height: 80px;
    background-color: #006A50;
    border-radius: 0px 10px 10px 0px;
    font-size: 25px;
    padding: 15px;
    margin: 0px;
    color: white;
    border:none;
}




/* footer section */
/* footer section */

.footer{
    width:auto;
    margin: 0 auto;
    background-color: white;
}

.footer-paragraph{

font-size: 32px;
font-weight: bold;
width: 222px;
height: 38px;
color: #0E0E0E;
text-align: center;
padding-left: 630px;
padding-top: 50px;

}

.footer-image-div{
    display: flex;
    gap: 20px;
    padding-left: 690px;
    padding-top: 32px;
    padding-bottom: 20px;
}








/* hover section */
/* hover section */

.donate-tk:hover{
    background-color: #C6E4D6;
    color: black;
    text-align: center;
}
#input:hover{
    background-color: #C6E4D6;
    font-size: 25px;
    color: black;
    text-align: center;

}

#inp:hover{
   
    font-size: 27px;
    color: rgba(0, 0, 0, 0.299);
    font-weight: 500;
}

.nav-button:hover{
    background-color:#C6E4D6 ;
    font-size: 25px;
    font-weight: bold;
}

.donate-btn:hover{
    box-shadow: #0e0e0e60 3px 5px 5px 3px;
}

.banner-explore-button:hover{
    box-shadow: #0e0e0e60 3px 5px 5px 3px;

}

.btn-1:hover{
    box-shadow: #0e0e0e60 3px 5px 5px 3px; 
}

.btn-2:hover{
    box-shadow: #0e0e0e60 3px 5px 5px 3px; 
}

.btn-3:hover{
    box-shadow: #0e0e0e60 3px 5px 5px 3px; 
}

.recent-btn:hover{
    box-shadow: #0e0e0e60 3px 5px 5px 3px;   
}

.pillar:hover{
    background:linear-gradient(rgba(137, 43, 226, 0.347),rgba(228, 224, 232, 0.477)) ;
}



